.background {
  /*background-image: url(/src/content/background.png);*/
  background-image: linear-gradient(to right bottom, #d4fc79,  #96e6a1 120%);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /*overflow-y: hidden;*/
}

.container {
  margin-bottom: 6px;
  display: flex;
  justify-content: center;
}

.grid {
  display: grid;
}

.card {
  background: white;
  border-radius: 20px;
  box-shadow: rgb(0 0 0 / 10%) 0px 20px 25px, rgb(0 0 0 / 4%) 0px 10px 10px;
  width: 280px;
  height: 280px;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1rem;
  transition: all 0.2s ease-in-out;
}

.card .title {
  font-size: 2em;
}

.card .params{
  font-size: 4em;
}

.card:hover {
  transform: scale(1.05);
}

.link {
  text-decoration: none;
  color: black;
}

.white {
  background: white;
}

.green {
  background: linear-gradient(to right bottom, #d4fc79,  #96e6a1 120%);
}

@media screen and (max-width: 800px) {
  .background {
    width: 100vw;
  }
  
  .container {
    flex-direction: column;
    align-items: center;
  }
}